<div class="container">
  <div class="col-lg-2 col-md-2 col-sm-1">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-10">
      <div class="panel profile-cover">
          <div class="profile-cover__img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgntn71SkMxNbs8Fd4KGuOVHiWt_NZrVqMKg&usqp=CAU" alt="" />
              
          </div>
          <div class="profile-cover__action bg--img" data-overlay="0.3">
              
          </div>
          <div class="profile-cover__info">
              
              <ul class="nav">
                  <li><h3 class="h3">This is the hall with all the posts in the db</h3></li>
              </ul>
          </div>
      </div>
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">Activity Feed</h3>
          </div>

          <div class="panel-content panel-activity">

              <form action="/" method="POST" class="panel-activity__status">
                  <textarea name="content" type="text" placeholder="Share what you've been up to..." class="form-control"></textarea>
                  <div class="actions">
                      <div class="btn-group">
                          <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Image">
                              <i class="fa fa-image"></i>
                          </button>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Video">
                              <i class="fa fa-video-camera"></i>
                          </button>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Idea">
                              <i class="fa fa-lightbulb-o"></i>
                          </button>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Question">
                              <i class="fa fa-question-circle-o"></i>
                          </button>
                      </div>
                      <button type="submit" class="btn btn-sm btn-rounded btn-info">
                          Post
                      </button>
                  </div>
              </form>
              <ul class="panel-activity__list">
                  <% todoTasks.forEach(details => { %>
                      <li>
                          <i class="activity__list__icon fa fa-question-circle-o"></i>
                          <div class="activity__list__header">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgntn71SkMxNbs8Fd4KGuOVHiWt_NZrVqMKg&usqp=CAU" alt="" />
                              <a href="#"><%= details.author %></a> Posted: 
                          </div>
                          <div class="activity__list__body entry-content">
                              <p>
                                  <%= details.content %>
                              </p>
                              <a href="/edit/<%= details._id %>" class="edit">
                              <span class="fas fa-edit">edit</span>
                              </a>
                              <a href="/remove/<%= details._id %>" class="remove">
                              <span class="fas fa-times">remove</span>
                              </a>
                          </div>
                          <div class="activity__list__footer">
                              <span> <i class="fa fa-clock"></i><%= details.date %></span>
                          </div>
                      </li>
                  <% }) %>
              </ul>
          </div>
      </div>
  </div>
  <div class="col-lg-2 col-sm-1">
  </div>
</div>